@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 1rem;
  font-family: PingFang TC, Semibold, Microsoft JhengHei, Arial;
}

* {
  box-sizing: border-box;
}

.h-none {
  display: none !important;
}

.h-inline {
  display: inline !important;
}

.h-inline-block {
  display: inline-block !important;
}

.h-block {
  display: block !important;
}

.h-table {
  display: table !important;
}

.h-table-row {
  display: table-row !important;
}

.h-table-cell {
  display: table-cell !important;
}

.h-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.h-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.h-flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.h-flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.h-flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}
.h-flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}
.h-flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.h-flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}
.h-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}
.h-flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.h-flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}
.h-flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
.h-flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.h-flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}
.h-justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.h-justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.h-justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.h-justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.h-justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.h-align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
.h-align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.h-align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.h-align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}
.h-align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
.h-align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}
.h-align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}
.h-align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}
.h-align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}
.h-align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}
.h-align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}
.h-align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}
.h-align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.h-align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.h-align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.h-align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}
.h-align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}
@media (max-width: 1023px) {
  .h-flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .h-flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .h-flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .h-flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .h-flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .h-flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .h-flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .h-flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .h-flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .h-flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .h-flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .h-flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .h-justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .h-justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .h-justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .h-justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .h-justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .h-align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .h-align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .h-align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .h-align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .h-align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .h-align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .h-align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .h-align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .h-align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .h-align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .h-align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .h-align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .h-align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .h-align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .h-align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .h-align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .h-align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}
@media (max-width: 767px) {
  .h-flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .h-flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .h-flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .h-flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .h-flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .h-flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .h-flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .h-flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .h-flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .h-flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .h-flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .h-flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .h-justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .h-justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .h-justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .h-justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .h-justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .h-align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .h-align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .h-align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .h-align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .h-align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .h-align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .h-align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .h-align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .h-align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .h-align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .h-align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .h-align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .h-align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .h-align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .h-align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .h-align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .h-align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

.gl-container {
  max-width: 940px;
  margin: 0 auto;
}

.gl-f-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gl-g-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: column;
  grid-gap: 20px;
  width: 100%;
}

.gl-row-10 {
  grid-column: 2/12;
}
@media (max-width: 568px) {
  .gl-row-10 {
    grid-column: 1/13;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.m-processBar {
  width: 189px;
}
@media (max-width: 568px) {
  .m-processBar {
    width: 144px;
  }
}
.m-processBar__outerCircle {
  color: #3F5D45;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #fff;
  position: relative;
}
@media (max-width: 568px) {
  .m-processBar__outerCircle {
    width: 16px;
    height: 16px;
  }
}
.m-processBar__outerCircle:not(:last-child):after {
  content: "";
  width: 63px;
  border: 1px solid #fff;
  display: block;
  position: absolute;
  left: 18px;
  top: 8px;
}
@media (max-width: 568px) {
  .m-processBar__outerCircle:not(:last-child):after {
    width: 46px;
    top: 6px;
    left: 15px;
  }
}
.m-processBar__outerCircle_success {
  background: #fff;
}
.m-processBar__outerCircle__innerCircle {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 100%;
  margin-left: 2px;
  margin-top: 2px;
}
@media (max-width: 568px) {
  .m-processBar__outerCircle__innerCircle {
    width: 10px;
    height: 10px;
  }
}
.m-processBar__outerCircle i {
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 14px;
}
@media (max-width: 568px) {
  .m-processBar__outerCircle i {
    top: 2px;
    left: 1px;
    font-size: 12px;
  }
}

.m-checkoutForm label {
  font-size: 1.25rem;
}
.m-checkoutForm input, .m-checkoutForm select {
  height: 3.5rem;
  width: 100%;
  padding: 0px 20px;
  color: #8DA291;
  background: #EAF0ED;
  border: none;
  margin-top: 0.5rem;
}
.m-checkoutForm__formGroup:not(:last-child) {
  margin-bottom: 1rem;
}
.m-checkoutForm__formGroup__twoForm {
  width: 50%;
}
.m-checkoutForm__formGroup__twoForm:first-child {
  padding-right: 0.5rem;
}
.m-checkoutForm__btn {
  margin: 1.875rem -2.5rem 0px -2.5rem;
}
@media (max-width: 568px) {
  .m-checkoutForm__btn {
    margin: 1.875rem -1.875rem 0px -1.875rem;
  }
}
.m-checkoutForm__btn a {
  display: block;
  cursor: pointer;
  border: none;
  color: #3F5D45;
  background: #ffe180;
  text-align: center;
  padding: 16px 0px;
  text-decoration: none;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}
.m-checkoutForm__btn a:hover, .m-checkoutForm__btn a:active {
  background: #ffd54d;
}

.m-productCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 568px) {
  .m-productCard {
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
  }
}
.m-productCard__item {
  grid-column: span 1;
  margin-bottom: 1.25rem;
}
@media (max-width: 568px) {
  .m-productCard__item {
    margin-bottom: 1.875rem;
  }
}
.m-productCard__item__img {
  background: url("https://bit.ly/2QiWeQW") no-repeat;
  width: 100%;
  height: 315px;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.m-productCard__item__img__tag {
  background: #3F5D45;
  color: #fff;
  width: 2.25rem;
  writing-mode: vertical-lr;
  letter-spacing: 2px;
  padding: 10px 10px;
  margin-left: 1.25rem;
  cursor: default;
}
.m-productCard__item__img__like {
  position: absolute;
  top: 19px;
  right: 22px;
  font-size: 1.25rem;
}
.m-productCard__item__img__like:hover, .m-productCard__item__img__like:active {
  color: red;
  cursor: pointer;
}
.m-productCard__item__info {
  color: #3F5D45;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
}
.m-productCard__item__info__title {
  width: 55%;
  padding: 14px 0px;
  border: 1px solid #EAF0ED;
  box-sizing: border-box;
}
.m-productCard__item__info__price {
  width: 45%;
  padding: 14px 0px;
  border: 1px solid #EAF0ED;
}
.m-productCard__item__btn a {
  display: block;
  width: 100%;
  color: #3F5D45;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 1.5rem;
  background: #EAF0ED;
  font-weight: bold;
}
.m-productCard__item__btn a:hover, .m-productCard__item__btn a:active {
  background: #ccdbd4;
}

.l-header .gl-f-row {
  height: 6.25rem;
}
@media (max-width: 864px) {
  .l-header .gl-f-row {
    padding-left: 15px;
    height: 5.75rem;
  }
}
@media (max-width: 568px) {
  .l-header .gl-f-row {
    height: 5.25rem;
    padding-left: 0px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}
.l-header__menuBar {
  display: none;
}
@media (max-width: 568px) {
  .l-header__menuBar {
    display: block;
    width: 84px;
    line-height: 5rem;
    color: #3F5D45;
    text-align: center;
  }
  .l-header__menuBar:hover, .l-header__menuBar:active {
    color: #fff;
    background: #3F5D45;
  }
}
@media (max-width: 568px) {
  .l-header__logo {
    width: calc(100% - 84px - 84px);
    height: 100%;
  }
}
.l-header__logo a {
  cursor: pointer;
  position: relative;
}
@media (max-width: 568px) {
  .l-header__logo a {
    width: 100%;
    height: 100%;
  }
}
.l-header__logo a img {
  width: 219px;
  height: 100px;
}
@media (max-width: 568px) {
  .l-header__logo a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 31.5px;
  }
}
.l-header__menu {
  margin-left: auto;
}
@media (max-width: 568px) {
  .l-header__menu {
    display: none !important;
  }
}
.l-header__menu a, .l-header__cart a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #3F5D45;
  line-height: 5rem;
  height: 5rem;
  padding-left: 1.875em;
  padding-right: 1.875rem;
  cursor: pointer;
}
.l-header__menu a:hover, .l-header__menu a:active, .l-header__cart a:hover, .l-header__cart a:active {
  color: #fff;
  background: #3F5D45;
}
.l-header__cart a {
  padding-left: 2.2em;
  padding-right: 2.4rem;
}
@media (max-width: 568px) {
  .l-header__cart a {
    padding: 0px;
    width: 84px;
    text-align: center;
  }
}

.l-register {
  margin-top: 3.75rem;
  background: #3F5D45;
}
@media (max-width: 864px) {
  .l-register {
    padding: 1.875rem 0px;
    margin-top: 0px;
  }
}
@media (max-width: 864px) {
  .l-register .gl-g-row {
    grid-gap: 0px;
  }
}
.l-register .gl-row-10 {
  height: 7.25rem;
}
@media (max-width: 864px) {
  .l-register .gl-row-10 {
    flex-direction: column;
    grid-column: 3/11;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.l-register__title h3 {
  margin-left: 1.25rem;
  color: #EAF0ED;
  font-size: 1.5rem;
}
.l-register__form {
  position: relative;
  width: 23.75rem;
  height: 56px;
  background: #EAF0ED;
  color: #3F5D45;
  font-size: 1.3rem;
}
@media (max-width: 568px) {
  .l-register__form {
    width: 100%;
  }
}
@media (max-width: 864px) {
  .l-register__form {
    width: 100%;
  }
}
.l-register__form__icon {
  position: absolute;
  top: 1.1rem;
  left: 1.25rem;
}
.l-register__form__text {
  font-size: 1.5rem;
  width: 16rem;
  margin-left: 60px;
  background: none;
  border: none;
  padding-right: 0.5rem;
}
@media (max-width: 568px) {
  .l-register__form__text {
    width: calc(100% - 60px - 64px);
  }
}
@media (max-width: 864px) {
  .l-register__form__text {
    width: calc(100% - 60px - 64px);
  }
}
.l-register__form__text:focus {
  outline: none;
}
.l-register__form__btn {
  cursor: pointer;
  background: #ffe180;
  border: none;
  width: 4rem;
  height: 100%;
}
.l-register__form__btn:hover, .l-register__form__btn:active {
  background: #ffd54d;
}

.l-footer {
  background: #EAF0ED;
  color: #3F5D45;
}
.l-footer .gl-row-10 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.l-footer__contact__content__info {
  color: #3F5D45;
}
.l-footer__contact__content__info li {
  line-height: 1.5rem;
}
@media (max-width: 568px) {
  .l-footer__contact__content__info {
    margin-top: 2.4rem;
  }
}
@media (max-width: 568px) {
  .l-footer__contact__title {
    display: none;
  }
}
.l-footer__social {
  align-items: center;
  margin-top: 1.875rem;
}
@media (max-width: 568px) {
  .l-footer__social {
    flex-direction: column;
    align-items: flex-start;
  }
}
.l-footer__social__icons li {
  margin-right: 0.5rem;
}
@media (max-width: 568px) {
  .l-footer__social__copyright {
    margin-top: 1.8rem;
  }
}

.p-index__hero__img {
  background: url("https://bit.ly/2OhbMHr") no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 496px;
}
@media (max-width: 864px) {
  .p-index__hero__img {
    height: 400px;
  }
}
@media (max-width: 568px) {
  .p-index__hero__img {
    height: 277px;
  }
}
@media (max-width: 864px) {
  .p-index__hero .gl-g-row {
    grid-gap: 0px;
  }
}
.p-index__hero ul {
  grid-column: 2/12;
  margin-top: -100px;
}
@media (max-width: 568px) {
  .p-index__hero ul {
    grid-column: 1/13;
    margin-top: 0px;
  }
}
.p-index__hero__item {
  width: calc(100% / 3);
  height: 256px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media (max-width: 864px) {
  .p-index__hero__item {
    height: 210px;
  }
}
@media (max-width: 568px) {
  .p-index__hero__item {
    height: 180px;
  }
}
.p-index__hero__item:hover .p-index__hero__item__bg {
  filter: blur(0px);
}
.p-index__hero__item__title {
  width: 100%;
  height: 100%;
  writing-mode: vertical-lr;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  user-select: none;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  letter-spacing: 8px;
}
@media (max-width: 568px) {
  .p-index__hero__item__title {
    font-size: 1.25rem;
  }
}
.p-index__hero__item__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(5px);
  transition: 0.3s all;
  margin: -5px -10px -10px -5px;
}
.p-index__hero__item__bgcolor {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #3F5D45;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.p-index__section {
  margin-top: 105px;
  height: 420px;
  background: #EAF0ED;
}
.p-index__section:first-child {
  margin-top: 80px;
}
@media (max-width: 864px) {
  .p-index__section {
    margin-top: 98px;
    height: 390px;
  }
}
@media (max-width: 568px) {
  .p-index__section {
    margin-top: 0px;
    height: auto;
  }
}
@media (max-width: 568px) {
  .p-index__section .gl-g-row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 864px) {
  .p-index__section .gl-g-row {
    grid-gap: 0px;
  }
}
.p-index__section__img {
  grid-column: span 6;
  background: url("https://bit.ly/2xPn7Eq") no-repeat;
  width: 100%;
  height: 460px;
  margin-top: -25px;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 864px) {
  .p-index__section__img {
    height: 420px;
    margin-top: -15px;
  }
}
@media (max-width: 568px) {
  .p-index__section__img {
    order: 2;
    height: 250px;
    margin-top: 0px;
  }
}
.p-index__section__title {
  grid-column: span 2;
  margin-top: -20px;
}
@media (max-width: 568px) {
  .p-index__section__title {
    order: 1;
    margin-top: 0px;
    padding: 30px;
    justify-content: center !important;
    background: #fff;
  }
}
@media (max-width: 568px) {
  .p-index__section__title__lg {
    display: none;
  }
}
.p-index__section__title__sm {
  display: none;
}
@media (max-width: 568px) {
  .p-index__section__title__sm {
    display: block;
  }
}
.p-index__section__article {
  writing-mode: vertical-rl;
  grid-column: span 4;
  color: #8DA291;
  padding: 62px 0px;
  cursor: default;
  height: 420px;
  line-height: 30px;
}
@media (max-width: 568px) {
  .p-index__section__article {
    order: 3;
    writing-mode: inherit;
    padding: 30px;
    height: auto;
  }
}
.p-index__section__article p:nth-child(2) {
  margin-right: 45px;
}
@media (max-width: 864px) {
  .p-index__section__article p:nth-child(2) {
    margin-right: 20px;
  }
}
@media (max-width: 568px) {
  .p-index__section__article p:nth-child(2) {
    margin-right: 0px;
  }
}
.p-index__noReason {
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 864px) {
  .p-index__noReason {
    margin-top: 55px;
  }
}
@media (max-width: 568px) {
  .p-index__noReason {
    margin-top: 0px;
    padding: 30px;
    padding-bottom: 0px;
  }
}
@media (max-width: 568px) {
  .p-index__noReason__lg {
    display: none;
  }
}
.p-index__noReason__sm {
  display: none;
}
@media (max-width: 568px) {
  .p-index__noReason__sm {
    display: block;
  }
}
.p-index .m-productCard {
  margin-top: 80.22px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 864px) {
  .p-index .m-productCard {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 31px;
  }
}
@media (max-width: 568px) {
  .p-index .m-productCard {
    margin-top: 0px;
    padding: 1.875rem;
    padding-bottom: 0px;
  }
  .p-index .m-productCard li:not(:first-child) {
    display: none;
  }
}
@media (max-width: 864px) {
  .p-index .m-productCard li:last-child {
    display: none;
  }
}

.p-login {
  margin-top: 1.375rem;
}
@media (max-width: 864px) {
  .p-login {
    margin-bottom: 30px;
  }
}
@media (max-width: 568px) {
  .p-login {
    margin-top: 0px;
    background: #3F5D45;
    margin-bottom: 0px;
  }
}
@media (max-width: 864px) {
  .p-login .gl-row-10 {
    grid-column: 1/13;
  }
}
@media (max-width: 568px) {
  .p-login .gl-row-10 {
    flex-direction: column;
  }
}
.p-login__account {
  padding-top: 40px;
  width: 50%;
  max-width: 50%;
  background: #3F5D45;
  color: #EAF0ED;
}
@media (max-width: 864px) {
  .p-login__account {
    height: auto;
    width: 60%;
    max-width: 60%;
  }
}
@media (max-width: 568px) {
  .p-login__account {
    width: 100%;
    max-width: 100%;
  }
}
.p-login__account__title {
  line-height: 2.25rem;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  text-align: center;
}
.p-login__account__socialIcons {
  display: none;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  background: #EAF0ED;
  padding: 1.875rem;
}
@media (max-width: 568px) {
  .p-login__account__socialIcons {
    display: flex;
  }
}
.p-login__account__socialIcons li {
  width: 33.333%;
}
.p-login__account__socialIcons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  background: white;
  border: 1px solid #EAF0ED;
}
.p-login__account__socialIcons li a:hover, .p-login__account__socialIcons li a:active {
  background: #f2efef;
}
.p-login__account__form {
  position: relative;
  padding: 0px 1.875rem;
}
@media (max-width: 568px) {
  .p-login__account__form {
    padding: 0px;
    margin-top: 1.875rem;
  }
}
.p-login__account__form__text {
  color: #3F5D45;
  width: 100%;
  margin-bottom: 1rem;
  background: #EAF0ED;
}
.p-login__account__form__text i {
  margin-top: 1.2rem;
  margin-left: 1.25rem;
}
.p-login__account__form__text input {
  margin-left: 1.3rem;
  width: 23.75rem;
  height: 3.5rem;
  border: none;
  background: none;
  font-size: 1rem;
}
.p-login__account__form__text input:focus {
  outline: none;
}
.p-login__account__form__ckbox {
  margin-bottom: 1.375rem;
}
.p-login__account__form__ckbox input {
  width: 1rem;
  height: 1rem;
}
.p-login__account__form__btn a {
  cursor: pointer;
  border: none;
  display: block;
  text-decoration: none;
  color: #3F5D45;
  background: #ffe180;
  text-align: center;
  padding: 16px 0px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 568px) {
  .p-login__account__form__btn a {
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    width: calc(100% + 60px);
  }
}
.p-login__account__form__btn a:hover, .p-login__account__form__btn a:active {
  background: #ffd54d;
}
.p-login__connSocial {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #EAF0ED;
  width: 50%;
  padding: 0px 1.875rem;
}
@media (max-width: 864px) {
  .p-login__connSocial {
    margin-top: 0.5rem;
    width: 40%;
    max-width: 40%;
    position: relative;
  }
}
@media (max-width: 568px) {
  .p-login__connSocial {
    display: none;
  }
}
.p-login__connSocial__title {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.25rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: #8DA291;
}
@media (max-width: 864px) {
  .p-login__connSocial__title {
    display: none;
  }
}
@media (max-width: 568px) {
  .p-login__connSocial__title {
    font-size: 2.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 864px) {
  .p-login__connSocial__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.p-login__connSocial__icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background: #fff;
  margin-bottom: 1rem;
}
.p-login__connSocial__icons a:hover, .p-login__connSocial__icons a:active {
  background: #EAF0ED;
  border: 1px solid #3F5D45;
}
@media (max-width: 864px) {
  .p-login__connSocial__icons a {
    padding: 10px;
  }
}

.p-ckSuccess__hero {
  background-image: url("https://bit.ly/2P7GhNd");
  width: 100%;
  height: 460px;
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 568px) {
  .p-ckSuccess__hero {
    height: 583px;
  }
}
.p-ckSuccess__hero__title {
  margin-top: 2.1rem;
  background: url(../img/lg-付款成功.svg) no-repeat;
  width: 189.36px;
  height: 45.46px;
}
.p-ckSuccess__hero__btn {
  margin-top: 3.2rem;
}
@media (max-width: 568px) {
  .p-ckSuccess__hero__btn {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}
.p-ckSuccess__hero__btn a {
  display: block;
  text-align: center;
  width: 18.75rem;
  padding: 1.5rem 0px;
  font-size: 1.5rem;
  background: #ffe180;
  font-weight: bold;
  color: #3F5D45;
  text-decoration: none;
}
@media (max-width: 568px) {
  .p-ckSuccess__hero__btn a {
    width: 100%;
  }
}
.p-ckSuccess__hero__btn a:hover, .p-ckSuccess__hero__btn a:active {
  background: #ffd54d;
}
.p-ckSuccess__hero__process {
  width: 190px;
}
.p-ckSuccess__hero__process__part {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background: #3F5D45;
}
.p-ckSuccess__hero__process__part:not(:last-child):after {
  content: "";
  display: block;
  margin-left: 1.15rem;
  width: 4.1rem;
  border: 1px solid #3F5D45;
  margin-top: -0.5rem;
}
.p-ckSuccess__hero__process__part_active:before {
  content: "✓";
  color: #fff;
  font-size: 14px;
  margin-left: 5.5px;
}

.p-product__hero {
  background: url("https://bit.ly/2Qodh3Z");
  width: 100%;
  height: 496px;
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 864px) {
  .p-product__hero {
    height: 400px;
  }
}
@media (max-width: 568px) {
  .p-product__hero {
    height: 277px;
  }
}
.p-product__hero__title {
  background: url(../img/lg-想吃甜點是不需要理由的.svg) no-repeat;
  width: 89.41px;
  height: 322.79px;
  position: absolute;
  top: 40px;
  right: 40px;
}
@media (max-width: 568px) {
  .p-product__hero__title {
    top: 30px;
    right: 29px;
    width: 59.41px;
    height: 218.52px;
  }
}
@media (max-width: 568px) {
  .p-product .gl-g-row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 864px) {
  .p-product .gl-g-row {
    display: flex;
    flex-direction: column;
  }
}
.p-product__content {
  margin-top: 3.75rem;
}
@media (max-width: 568px) {
  .p-product__content {
    margin-top: 0px;
  }
}
@media (max-width: 864px) {
  .p-product__content {
    margin-top: 0px;
  }
}
.p-product__content__menu {
  grid-column: 1/span 4;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}
.p-product__content__menu li {
  padding: 1rem 0px;
  color: #3F5D45;
  font-weight: bold;
  border: 1px solid #EAF0ED;
  background: #fff;
  cursor: pointer;
}
.p-product__content__menu li:hover, .p-product__content__menu li:active {
  background: #EAF0ED !important;
}
.p-product__content__menu__title {
  color: #fff !important;
  background: #3F5D45 !important;
  cursor: default !important;
}
.p-product__content__menu_active {
  background: #EAF0ED !important;
}
.p-product__content .m-productCard {
  grid-column: 5/span 12;
}
@media (max-width: 864px) {
  .p-product__content .m-productCard {
    margin-top: 30px;
  }
}
.p-product__content .m-productCard .pagination {
  grid-column: span 2;
  margin-left: auto;
}
@media (max-width: 568px) {
  .p-product__content .m-productCard .pagination {
    margin: 0 auto;
  }
}
@media (max-width: 864px) {
  .p-product__content .m-productCard .pagination {
    margin-bottom: 22px;
  }
}
.p-product__content .m-productCard .pagination li {
  width: 3.75rem;
  display: block;
  text-align: center;
  padding: 1rem 0px;
  font-size: 1.25rem;
  color: #3F5D45;
  border: 1px solid #EAF0ED;
  cursor: pointer;
}
@media (max-width: 375px) {
  .p-product__content .m-productCard .pagination li {
    width: 3.15rem;
  }
}
.p-product__content .m-productCard .pagination li:hover, .p-product__content .m-productCard .pagination li:active {
  background: #3F5D45;
  color: #EAF0ED;
}
.p-product__content .m-productCard .pagination__page_active {
  background: #3F5D45;
  color: #EAF0ED !important;
}

@media (max-width: 864px) {
  .p-cart .gl-g-row {
    display: block;
  }
}
.p-cart__list {
  grid-column: 1/9;
  color: #3F5D45;
}
@media (max-width: 864px) {
  .p-cart__list {
    padding: 0px 30px;
  }
}
.p-cart__list__title {
  background: #EAF0ED;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0px;
  font-size: 1.5rem;
  margin-bottom: 33px;
}
@media (max-width: 864px) {
  .p-cart__list__title {
    margin-left: -30px;
    margin-right: -30px;
  }
}
.p-cart__list__item {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 864px) {
  .p-cart__list__item {
    display: block;
  }
}
.p-cart__list__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 864px) {
  .p-cart__list__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 864px) {
  .p-cart__list__item__outerBox {
    justify-content: space-between;
  }
}
.p-cart__list__item__outerBox__img {
  background: url("https://bit.ly/2QvsT63");
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center center;
  margin-right: 39px;
}
@media (max-width: 864px) {
  .p-cart__list__item__outerBox__img {
    margin-right: 10px;
  }
}
@media (max-width: 864px) {
  .p-cart__list__item__outerBox__img {
    width: 157px;
    height: 106px;
    margin-right: 1rem;
  }
}
@media (max-width: 568px) {
  .p-cart__list__item__outerBox__message {
    flex-direction: column;
  }
}
.p-cart__list__item__outerBox__message__title {
  margin-right: 39px;
}
.p-cart__list__item__outerBox__message__title h3 {
  font-size: 1.25rem;
  margin-bottom: 6px;
}
.p-cart__list__item__outerBox__message__title span {
  display: block;
}
@media (max-width: 864px) {
  .p-cart__list__item__outerBox__message__title {
    margin-bottom: 0.5rem;
  }
}
.p-cart__list__item__outerBox__message__count__add, .p-cart__list__item__outerBox__message__count__num, .p-cart__list__item__outerBox__message__count__sub {
  width: 3rem;
  text-align: center;
  padding: 13px 0px;
  border: 1px solid #EAF0ED;
}
@media (max-width: 864px) {
  .p-cart__list__item__outerBox__message__count__add, .p-cart__list__item__outerBox__message__count__num, .p-cart__list__item__outerBox__message__count__sub {
    width: 2.5rem;
  }
}
.p-cart__list__item__outerBox__message__count__add, .p-cart__list__item__outerBox__message__count__sub {
  cursor: pointer;
}
.p-cart__list__item__outerBox__message__count__add:hover, .p-cart__list__item__outerBox__message__count__add:active, .p-cart__list__item__outerBox__message__count__sub:hover, .p-cart__list__item__outerBox__message__count__sub:active {
  color: #fff;
  background: #3F5D45;
  user-select: none;
}
@media (max-width: 864px) {
  .p-cart__list__item__total {
    margin-top: 0.5rem;
    border-top: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
  }
}
.p-cart__list__item__total__num {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 39px;
}
@media (max-width: 864px) {
  .p-cart__list__item__total__num {
    margin-right: 0px;
  }
}
@media (max-width: 864px) {
  .p-cart__list__item__total__num {
    padding: 0.5rem;
    margin-left: auto;
  }
}
.p-cart__list__item__total__del {
  cursor: pointer;
}
@media (max-width: 864px) {
  .p-cart__list__item__total__del {
    display: none;
  }
}
.p-cart__summary {
  grid-column: 9/13;
  background: #3F5D45;
  color: #fff;
  padding: 0px 18px;
  height: fit-content;
}
@media (max-width: 864px) {
  .p-cart__summary {
    margin-top: 1.875rem;
    background: #fff;
    color: #3F5D45;
    padding: 0px 30px;
  }
}
.p-cart__summary__title {
  padding: 16px 0px;
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 864px) {
  .p-cart__summary__title {
    background: #EAF0ED;
    border: none;
  }
}
.p-cart__summary__list__item {
  margin-bottom: 0.5rem;
}
.p-cart__summary__list__item:first-child {
  margin-top: 1rem;
}
.p-cart__summary__list__sumItem {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.p-cart__summary__btn {
  margin-left: -18px;
  margin-right: -18px;
}
@media (max-width: 864px) {
  .p-cart__summary__btn {
    margin-left: -30px;
    margin-right: -30px;
  }
}
.p-cart__summary__btn a {
  display: block;
  color: #3F5D45;
  background: #ffe180;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}
.p-cart__summary__btn a:hover, .p-cart__summary__btn a:active {
  background: #ffd54d;
}

.p-checkout {
  margin-top: 30px;
}
@media (max-width: 864px) {
  .p-checkout {
    margin-top: 15px;
  }
}
@media (max-width: 568px) {
  .p-checkout {
    margin-top: 0px;
  }
}
@media (max-width: 864px) {
  .p-checkout .gl-g-row {
    grid-gap: 10px;
  }
}
@media (max-width: 568px) {
  .p-checkout .gl-g-row {
    display: block;
  }
}
.p-checkout__profile {
  grid-column: 2/8;
  background: #3F5D45;
  color: #fff;
  padding: 1.875rem 2.5rem;
  padding-bottom: 0px;
  height: fit-content;
}
@media (max-width: 864px) {
  .p-checkout__profile {
    grid-column: 1/8;
  }
}
@media (max-width: 568px) {
  .p-checkout__profile {
    padding: 1.875rem;
    padding-bottom: 0px;
  }
}
.p-checkout__profile__title {
  margin-bottom: 1.875rem;
}
.p-checkout__profile__title h3 {
  font-size: 2.25rem;
}
.p-checkout__profile__type {
  margin-bottom: 30px;
  border: 1px solid #EAF0ED;
}
.p-checkout__profile__type li {
  width: 50%;
  text-align: center;
  padding: 14px;
  cursor: pointer;
}
.p-checkout__profile__type li:hover, .p-checkout__profile__type li:active {
  background: #EAF0ED;
  color: #3F5D45;
}
.p-checkout__profile__type_current {
  background: #EAF0ED;
  color: #3F5D45;
  font-weight: bold;
}
.p-checkout__detail {
  grid-column: 8/12;
  color: #8DA291;
}
@media (max-width: 864px) {
  .p-checkout__detail {
    grid-column: 8/13;
  }
}
@media (max-width: 568px) {
  .p-checkout__detail {
    display: none;
  }
}
.p-checkout__detail h1 {
  background: #EAF0ED;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
.p-checkout__detail__summary {
  border: 1px solid #EAF0ED;
}
.p-checkout__detail__summary__list {
  padding: 1rem 20px;
}
.p-checkout__detail__summary__list li:not(:first-child) {
  margin-top: 0.5rem;
}
.p-checkout__detail__summary__list__sumItem {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem !important;
}
.p-checkout__detail__shopList {
  margin-top: 20px;
  border: 1px solid #EAF0ED;
}
.p-checkout__detail__shopList__list {
  padding: 16px 20px;
}
.p-checkout__detail__shopList__list li:not(:first-child) {
  margin-top: 1rem;
}
.p-checkout__detail__shopList__list__img {
  background: url("https://bit.ly/2zBjQuq") no-repeat;
  width: 120px;
  height: 80px;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 864px) {
  .p-checkout__detail__shopList__list__img {
    width: 100px;
  }
}
.p-checkout__detail__shopList__list__item {
  margin-top: 1rem;
}
.p-checkout__detail__shopList__list__item h3 {
  margin-bottom: 5px;
  white-space: nowrap;
}
.p-checkout__detail__shopList__list__item span {
  font-size: 1.25rem;
  font-weight: bold;
}

/*# sourceMappingURL=all.css.map */
