@charset "UTF-8"
.p-index
    &__hero
        &__img
            background: url("https://bit.ly/2OhbMHr") no-repeat
            background-position: center center
            background-size: cover
            width: 100%
            height: 496px
            +pad-below
                height: 400px
            +mobile
                height: 277px
        .gl-g-row
            +pad-below
                grid-gap: 0px
        ul
            grid-column: 2/12
            margin-top: -100px
            +mobile
                grid-column: 1/13
                margin-top: 0px
        &__item
            width: calc(100% / 3)
            height: 256px
            cursor: pointer
            position: relative
            overflow: hidden
            +pad-below
                height: 210px
            +mobile
                height: 180px
            &:hover .p-index__hero__item__bg
                filter: blur(0px)
            &__title
                width: 100%
                height: 100%
                writing-mode: vertical-lr
                font-size: 1.5rem
                color: $white
                text-align: center
                user-select: none
                z-index: 99
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                letter-spacing: 8px
                +mobile
                    font-size: 1.25rem
            &__bg
                width: 100%
                height: 100%
                position: absolute
                top: 0px
                left: 0px
                filter: blur(5px)
                transition: 0.3s all
                margin: -5px -10px -10px -5px
            &__bgcolor
                position: absolute
                top: 0px
                left: 0px
                background: $darkGreen
                opacity: 0.8
                width: 100%
                height: 100%
    &__section
        margin-top: 105px
        height: 420px
        background: $green
        &:first-child
            margin-top: 80px
        +pad-below
            margin-top: 98px
            height: 390px
        +mobile
            margin-top: 0px
            height: auto
        .gl-g-row
            +mobile
                display: flex
                flex-direction: column
            +pad-below
                grid-gap: 0px
        &__img
            grid-column: span 6
            background: url("https://bit.ly/2xPn7Eq") no-repeat
            width: 100%
            height: 460px
            margin-top: -25px
            background-size: cover
            background-position: center center
            +pad-below
                height: 420px
                margin-top: -15px
            +mobile
                order: 2
                height: 250px
                margin-top: 0px
        &__title
            grid-column: span 2
            margin-top: -20px
            +mobile
                order: 1
                margin-top: 0px
                padding: 30px
                justify-content: center !important
                background: $white
            &__lg
                +mobile
                    display: none
            &__sm
                display: none
                +mobile
                    display: block
        &__article
            writing-mode: vertical-rl
            grid-column: span 4
            color: $gray
            padding: 62px 0px
            cursor: default
            height: 420px
            line-height: 30px
            +mobile
                order: 3
                writing-mode: inherit
                padding: 30px
                height: auto
            p:nth-child(2)
                margin-right: 45px
                +pad-below
                    margin-right: 20px
                +mobile
                    margin-right: 0px
                
    &__noReason
        width: 100%
        margin-top: 100px
        +pad-below
            margin-top: 55px
        +mobile
            margin-top: 0px 
            padding: 30px
            padding-bottom: 0px
        &__lg
            +mobile
                display: none
        &__sm
            display: none
            +mobile
                display: block
    .m-productCard
        margin-top: 80.22px
        width: 100%
        grid-template-columns: repeat(3,1fr)
        +pad-below
            grid-template-columns: repeat(2,1fr)
            margin-top: 31px
        +mobile
            margin-top: 0px
            padding: 1.875rem
            padding-bottom: 0px
            li:not(:first-child)
                display: none
        li:last-child
            +pad-below
                display: none