.l-header
	.gl-container
		.gl-f-row.h-align-items-center
			.l-header__menuBar
				i.fas.fa-bars
			.l-header__logo
				a(href="index.html").h-block
					img(src="./img/logo-all-dark.svg", alt="")
			ul.l-header__menu.h-flex
				li
					a(href="index.html") 首頁
				li
					a(href="product.html") 甜點
				li
					a(href="login.html") 登入
			.l-header__cart
				a(href="cart.html")
					i.fas.fa-shopping-cart
