extends layout.jade
block content
    .p-cart
        .gl-container
            .gl-g-row
                .p-cart__list
                    .p-cart__list__title 您的購物車
                    ul
                        li.p-cart__list__item
                            .p-cart__list__item__outerBox.h-flex.h-align-items-center
                                .p-cart__list__item__outerBox__img
                                .p-cart__list__item__outerBox__message.h-flex
                                    .p-cart__list__item__outerBox__message__title
                                        h3 焦糖馬卡龍
                                        span NT$ 450
                                    .p-cart__list__item__outerBox__message__count.h-flex
                                        .p-cart__list__item__outerBox__message__count__add +
                                        .p-cart__list__item__outerBox__message__count__num 2
                                        .p-cart__list__item__outerBox__message__count__sub -
                            .p-cart__list__item__total.h-flex.h-align-items-center
                                .p-cart__list__item__total__num NT$ 450
                                .p-cart__list__item__total__del
                                    i.far.fa-trash-alt
                        li.p-cart__list__item
                            .p-cart__list__item__outerBox.h-flex.h-align-items-center
                                .p-cart__list__item__outerBox__img
                                .p-cart__list__item__outerBox__message.h-flex
                                    .p-cart__list__item__outerBox__message__title
                                        h3 焦糖馬卡龍
                                        span NT$ 450
                                    .p-cart__list__item__outerBox__message__count.h-flex
                                        .p-cart__list__item__outerBox__message__count__add +
                                        .p-cart__list__item__outerBox__message__count__num 2
                                        .p-cart__list__item__outerBox__message__count__sub -
                            .p-cart__list__item__total.h-flex.h-align-items-center.h-justify-content-between
                                .p-cart__list__item__total__num NT$ 450
                                .p-cart__list__item__total__del
                                    i.far.fa-trash-alt
                        li.p-cart__list__item
                            .p-cart__list__item__outerBox.h-flex.h-align-items-center
                                .p-cart__list__item__outerBox__img
                                .p-cart__list__item__outerBox__message.h-flex.h-justify-content-between
                                    .p-cart__list__item__outerBox__message__title
                                        h3 焦糖馬卡龍
                                        span NT$ 450
                                    .p-cart__list__item__outerBox__message__count.h-flex
                                        .p-cart__list__item__outerBox__message__count__add +
                                        .p-cart__list__item__outerBox__message__count__num 2
                                        .p-cart__list__item__outerBox__message__count__sub -
                            .p-cart__list__item__total.h-flex.h-align-items-center.h-justify-content-between
                                .p-cart__list__item__total__num NT$ 450
                                .p-cart__list__item__total__del
                                    i.far.fa-trash-alt
                .p-cart__summary
                    .p-cart__summary__title 訂單摘要
                    ul.p-cart__summary__list
                        li.p-cart__summary__list__item.h-flex.h-justify-content-between
                            h3 小計
                            span NT$ 450
                        li.p-cart__summary__list__item.h-flex.h-justify-content-between
                            h3 運費
                            span NT$ 450
                        li.p-cart__summary__list__sumItem.h-flex.h-justify-content-between
                            h3 總計
                            span NT$ 450
                    .p-cart__summary__btn
                        a(href="checkout-1.html") 結帳   
