extends layout.jade
block content
    .p-checkout
        .gl-container
            .gl-g-row
                .p-checkout__profile
                    .p-checkout__profile__title.h-flex.h-justify-content-between
                        h3 發票
                        .m-processBar.h-flex.h-justify-content-between.h-align-items-center
                            .m-processBar__outerCircle.m-processBar__outerCircle_success
                                i.fas.fa-check
                            .m-processBar__outerCircle.m-processBar__outerCircle_success
                                i.fas.fa-check
                            .m-processBar__outerCircle.m-processBar__outerCircle_success
                                i.fas.fa-check
                    ul.p-checkout__profile__type.h-flex
                        li.p-checkout__profile__type_current 電子發票
                        li 郵寄發票
                    .m-checkoutForm
                        .m-checkoutForm__formGroup
                            label(for="") 電子郵件信箱
                            input(type="text" placeholder="example@email.com") 
                        .m-checkoutForm__formGroup
                            label(for="") 統一編號(選填)
                            input(type="text" placeholder="12345678") 
                        .m-checkoutForm__btn
                            a(href="checkout-success.html") 下一步
                .p-checkout__detail
                    .p-checkout__detail__summary
                        h1 訂單摘要
                        ul.p-checkout__detail__summary__list
                            li.h-flex.h-justify-content-between
                                h3 小計
                                span NT$ 450
                            li.h-flex.h-justify-content-between
                                h3 運費
                                span NT$ 450
                            li.p-checkout__detail__summary__list__sumItem.h-flex.h-justify-content-between
                                h3 總計
                                span NT$ 450
                    .p-checkout__detail__shopList
                        h1 購物清單
                        ul.p-checkout__detail__shopList__list
                            li.h-flex.h-justify-content-between
                                .p-checkout__detail__shopList__list__img
                                .p-checkout__detail__shopList__list__item
                                    h3 焦糖馬卡龍（2）
                                    span NT$ 900
                            li.h-flex.h-justify-content-between
                                .p-checkout__detail__shopList__list__img
                                .p-checkout__detail__shopList__list__item
                                    h3 焦糖馬卡龍（2）
                                    span NT$ 900
                            li.h-flex.h-justify-content-between
                                .p-checkout__detail__shopList__list__img
                                .p-checkout__detail__shopList__list__item
                                    h3 焦糖馬卡龍（2）
                                    span NT$ 900