extends layout.jade
block content
    .p-ckSuccess.gl-container
        .p-ckSuccess__hero.h-flex.h-flex-column.h-align-items-center.h-justify-content-center
            .p-ckSuccess__hero__process.h-flex.h-justify-content-between
                .p-ckSuccess__hero__process__part.p-ckSuccess__hero__process__part_active
                .p-ckSuccess__hero__process__part.p-ckSuccess__hero__process__part_active
                .p-ckSuccess__hero__process__part.p-ckSuccess__hero__process__part_active
            .p-ckSuccess__hero__title
            .p-ckSuccess__hero__btn 
                a(href="product.html") 繼續逛逛