extends layout.jade
block content
    .p-checkout
        .gl-container
            .gl-g-row
                .p-checkout__profile
                    .p-checkout__profile__title.h-flex.h-justify-content-between
                        h3 運送
                        .m-processBar.h-flex.h-justify-content-between.h-align-items-center
                            .m-processBar__outerCircle.m-processBar__outerCircle_success
                                i.fas.fa-check
                            .m-processBar__outerCircle
                                .m-processBar__outerCircle__innerCircle
                            .m-processBar__outerCircle
                                .m-processBar__outerCircle__innerCircle
                    .m-checkoutForm
                        .m-checkoutForm__formGroup.h-flex
                            .m-checkoutForm__formGroup__twoForm
                                label(for="") 姓氏
                                input(type="text" placeholder="王") 
                            .m-checkoutForm__formGroup__twoForm
                                label(for="") 名字
                                input(type="text" placeholder="小名") 
                        .m-checkoutForm__formGroup
                            label(for="") 電話
                            input(type="text" placeholder="0912345678") 
                        .m-checkoutForm__formGroup
                            label(for="") 地址
                            .h-flex
                                .m-checkoutForm__formGroup__twoForm
                                    select
                                        option(value="高雄市") 高雄市
                                .m-checkoutForm__formGroup__twoForm
                                    select
                                        option(value="幸福路") 新興區
                            input(type="text" placeholder="幸福路520號")
                        .m-checkoutForm__btn
                            a(href="checkout-2.html") 下一步
                .p-checkout__detail
                    .p-checkout__detail__summary
                        h1 訂單摘要
                        ul.p-checkout__detail__summary__list
                            li.h-flex.h-justify-content-between
                                h3 小計
                                span NT$ 450
                            li.h-flex.h-justify-content-between
                                h3 運費
                                span NT$ 450
                            li.p-checkout__detail__summary__list__sumItem.h-flex.h-justify-content-between
                                h3 總計
                                span NT$ 450
                    .p-checkout__detail__shopList
                        h1 購物清單
                        ul.p-checkout__detail__shopList__list
                            li.h-flex.h-justify-content-between
                                .p-checkout__detail__shopList__list__img
                                .p-checkout__detail__shopList__list__item
                                    h3 焦糖馬卡龍（2）
                                    span NT$ 900
                            li.h-flex.h-justify-content-between
                                .p-checkout__detail__shopList__list__img
                                .p-checkout__detail__shopList__list__item
                                    h3 焦糖馬卡龍（2）
                                    span NT$ 900
                            li.h-flex.h-justify-content-between
                                .p-checkout__detail__shopList__list__img
                                .p-checkout__detail__shopList__list__item
                                    h3 焦糖馬卡龍（2）
                                    span NT$ 900