extends  layout.jade
block content
    .p-index
        .p-index__hero
            .gl-container
                .p-index__hero__img
                .gl-g-row
                    ul.h-flex
                        li.p-index__hero__item
                            .p-index__hero__item__bg(style="background:url('https://bit.ly/2OUteif') no-repeat;background-position: center center;background-size: cover")
                            .p-index__hero__item__bgcolor(style="background: #ffe180")
                            .p-index__hero__item__title(style="color:#3F5D45;font-weight:bold") 本日精選
                        li.p-index__hero__item
                            .p-index__hero__item__bg(style="background:url('https://bit.ly/2Dwoxd7') no-repeat;background-position: center center;background-size: cover")
                            .p-index__hero__item__bgcolor
                            .p-index__hero__item__title 人氣推薦
                        li.p-index__hero__item
                            .p-index__hero__item__bg(style="background:url('https://bit.ly/2zKOP7w') no-repeat;background-position: center center;background-size: cover")
                            .p-index__hero__item__bgcolor
                            .p-index__hero__item__title 精品上市
        .p-index__section
            .gl-container
                .gl-g-row
                    .p-index__section__img
                    .p-index__section__article
                        p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                        p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                    .p-index__section__title.h-flex.h-justify-content-center
                        img.p-index__section__title__lg(src="./img/lg-為什麼一定要吃甜點.svg", alt="" width="88" height="303")
                        img.p-index__section__title__sm(src="./img/sm-橫式-為什麼一定要吃甜點.svg", alt="" width="196" height="60")
        .p-index__section
            .gl-container
                .gl-g-row
                    .p-index__section__article
                        p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                        p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                    .p-index__section__title.h-flex.h-justify-content-center
                        img.p-index__section__title__lg(src="./img/lg-為什麼一定要吃甜點.svg", alt="" width="88" height="303")
                        img.p-index__section__title__sm(src="./img/sm-橫式-為什麼一定要吃甜點.svg", alt="" width="196" height="60")
                    .p-index__section__img
        .p-index__noReason
            .gl-container.h-flex.h-justify-content-center
                img.p-index__noReason__lg(src="./img/lg-想吃甜點是不需要理由的.svg", alt="" width="89.1" height="327.79")
                img.p-index__noReason__sm(src="./img/sm-橫式-想吃甜點是不需要理由的.svg", alt="" width="226" height="60")
        ul.m-productCard.gl-container
            li.m-productCard__item
                .m-productCard__item__img
                    .m-productCard__item__img__tag 本日精選
                    .m-productCard__item__img__like
                        i.far.fa-heart
                .m-productCard__item__info
                    .m-productCard__item__info__title 焦糖瑪卡龍
                    .m-productCard__item__info__price NT $450
                .m-productCard__item__btn
                    a(href="cart.html") 加入購物車
            li.m-productCard__item
                .m-productCard__item__img
                    .m-productCard__item__img__tag 本日精選
                    .m-productCard__item__img__like
                        i.far.fa-heart
                .m-productCard__item__info
                    .m-productCard__item__info__title 焦糖瑪卡龍
                    .m-productCard__item__info__price NT $450
                .m-productCard__item__btn
                    a(href="cart.html") 加入購物車
            li.m-productCard__item
                .m-productCard__item__img
                    .m-productCard__item__img__tag 本日精選
                    .m-productCard__item__img__like
                        i.far.fa-heart
                .m-productCard__item__info
                    .m-productCard__item__info__title 焦糖瑪卡龍
                    .m-productCard__item__info__price NT $450
                .m-productCard__item__btn
                    a(href="cart.html") 加入購物車  

            