extends layout.jade
block content
    .p-product
        .gl-container
            .p-product__hero
                .p-product__hero__title
            .p-product__content.gl-g-row
                ul.p-product__content__menu 
                    li.p-product__content__menu__title 甜點類別
                    li.p-product__content__menu_active 所有甜點（48）
                    li 本日精選（10）
                    li 人氣推薦（26）
                    li 新品上市（12）
                //- ul.p-product__content__products
                ul.m-productCard
                    li.m-productCard__item
                        .m-productCard__item__img
                            .m-productCard__item__img__tag 本日精選
                            .m-productCard__item__img__like
                                i.far.fa-heart
                        .m-productCard__item__info
                            .m-productCard__item__info__title 焦糖瑪卡龍
                            .m-productCard__item__info__price NT $450
                        .m-productCard__item__btn
                            a(href="cart.html") 加入購物車
                    li.m-productCard__item
                        .m-productCard__item__img
                            .m-productCard__item__img__tag 本日精選
                            .m-productCard__item__img__like
                                i.far.fa-heart
                        .m-productCard__item__info
                            .m-productCard__item__info__title 焦糖瑪卡龍
                            .m-productCard__item__info__price NT $450
                        .m-productCard__item__btn
                            a(href="cart.html") 加入購物車
                    li.m-productCard__item
                        .m-productCard__item__img
                            .m-productCard__item__img__tag 本日精選
                            .m-productCard__item__img__like
                                i.far.fa-heart
                        .m-productCard__item__info
                            .m-productCard__item__info__title 焦糖瑪卡龍
                            .m-productCard__item__info__price NT $450
                        .m-productCard__item__btn
                            a(href="cart.html") 加入購物車
                    li.pagination
                        ul.h-flex
                            li.pagination__pre
                                i.fas.fa-angle-left
                            li.pagination__page.pagination__page_active 1
                            li.pagination__page 2
                            li.pagination__page 3
                            li.pagination__next
                                i.fas.fa-angle-right

